/build64Win
/build32Win
/build64Lin
/build32Lin
/build64
/build32
/build
/bin64
/bin32
/bin
/boost_*
/.vc
/.vs
/RE-fles
/Autotest.log
/Example/fileversion
/Example/Templates/*/Ext/Template.bin
/manifest.xml
/AddIn.zip
*.tmp
*.epf
*.o
*.d
*.so
